* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    text-align: center;
    
}

html {
    background-color: #121212;
    color: #FAFAFA;
    
}

body {
}


header {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    grid-area: "header";
}

h1 {
    font-size: 3rem;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items:end;
    width: 100%;
    height: 100%;
}

nav ul li{
    list-style: none;
    font-size: 1.5rem;
}

nav ul li a:hover{
    color: #FAFAFA;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

main{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    grid-area: "main";

}

section{

    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
}


div.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}
div.content {
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: row;

}

div.content figure {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.content figure div.img {
    width: 80%;
}

div.content figure div.img img {
    width: 100%;
    border-radius: 10px;

}

div.about-text p {
    text-align: left;
    
}

div.about-text ul {
    text-align: left;
    list-style: none;
    padding: 10px;
    
    
}

div.about-text ul li {
    margin: 10px 0;
    display: inline-block;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s ease-in-out;

}    

div.about-text ul li:hover {
    
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    
}




footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    height: 100px;
    
}